@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

:root {
  /* Typography */
  --sans: "Karla", sans-serif;
  --heading-line-height: 1.1;
  --paragraph-line-height: 1.75;
  --heading-letter-spacing: -1.55px;
  --paragraph-letter-spacing: -0.2px;
  /* Vertical Rhythm */
  --responsive-unit: 0.5vw; /* TWEAK ME  */
  /* Base Values */
  --text-base-size: calc(0.9rem + var(--responsive-unit));
  --text-scale-ratio: 1.3; /* TWEAK ME */
  /* Type Scale */
  --text-xs: calc(
    1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)) +
      var(--responsive-unit)
  );
  --text-sm: calc(1rem / var(--text-scale-ratio) + var(--responsive-unit));
  --text-md: calc(1rem * var(--text-scale-ratio) + var(--responsive-unit));
  --text-lg: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) +
      var(--responsive-unit)
  );
  --text-xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) + var(--responsive-unit)
  );
  --text-xxl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) + var(--responsive-unit)
  );
  --text-xxxl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) + var(--responsive-unit)
  );
  /* Spacing */
  --baseline: calc(1.2rem + var(--responsive-unit));
  --component-padding: var(--space-sm);
  /* Spacing Values */
  --space-sm: calc(var(--baseline) / 2);
  --space-md: var(--baseline);
  --space-lg: calc(var(--baseline) * 2);
  --space-xl: calc(var(--baseline) * 3);
  /* Colors */
  --white: white;
  --black: black;
  --grey: #555555;
  /* */
  --text-color: var(--black);
  --href-color: black;
  --bg-1: var(--white);
  --bg-2: #f2f2f2;
  --primary-btn-bg: var(--black);
  --outline-btn-bg: var(--bg-2);
  --primary-btn-color: var(--white);
  --outline-btn-color: var(--grey);
  --input-border: var(--black);
  --input-bg: var(--bg-2);
  --card-bg: var(--bg-1);
  /* */
  --green: green;
  --red: darkred;
  --facebook: #3b5998;
  --twitter: #1da1f2;
  --pinterest: #c8232c;
  --instagram: #5851db;
  /* Animation */
  --duration: 0.2s;
  /* Components */
  --radius: 4px;
  --thickness: 2px;
  --elevation-1: 0 4px 12px rgba(0, 0, 0, 0.05);
  --elevation-2: 0px 4px 12px rgba(0, 0, 0, 0.2);
  --elevation-3: 0px 12px 20px rgba(0, 0, 0, 0.2);
  --transition: all 0.15s ease-in 0s;
  --opacity: opacity(0.35);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--white);
    --href-color: fuchsia;
    --bg-1: var(--black);
    --bg-2: #1a1a1b;
    --input-bg: var(--bg-2);
    --primary-btn-bg: #1a1a1b;
    --primary-btn-color: var(--href-color);
    --card-bg: var(--bg-2);
    --red: tomato;
    --green: lime;
    --grey: grey;
  }
}

html {
  width: 100%;
}

body {
  margin: 0;
  font-family: var(--sans);
  font-size: var(--text-base-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  background: var(--bg-1);
}

h1,
h2,
h3,
h4 {
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
  font-weight: 900;
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
  margin: var(--space-xl) 0;
}

h1,
.text--xxl {
  font-size: var(--text-xxl);
  margin: var(--space-md) 0;
}

h2,
.text--xl {
  font-size: var(--text-xl);
  margin: var(--space-md) 0;
}

h3,
.text--lg {
  font-size: var(--text-lg);
  margin: var(--space-md) 0;
}

h4,
.text--md {
  font-size: var(--text-md);
  margin: var(--space-sm) 0;
}

.text--sm,
small {
  font-size: var(--text-sm);
  margin: var(--space-sm) 0;
}

.text--xs {
  font-size: var(--text-xs);
  margin: var(--space-sm) 0;
}

p {
  margin: var(--space-sm) 0;
  line-height: var(--paragraph-line-height);
  letter-spacing: var(--paragraph-letter-spacing);
}

li {
  margin-bottom: var(--space-sm);
}

br {
  margin: var(--space-md) 0;
}

input,
textarea {
  font-size: var(--text-md);
}

button {
  font-size: var(--text-sm);
}

.component {
  padding: var(--component-padding);
  margin-bottom: var(--space-md);
}

@media (max-width: 1024px) {
  .responsive-padding {
    padding: 0 var(--space-sm);
  }
}
