:root {
  --sans: "Avenir", sans-serif;
  --duration: 0.2s;
  --accent: darkred;
  --black: black;
  --white: white;
  --warning: red;
  --font-size: 21px;
  --heading: 50px;
  --radius: 2px;
  --thickness: 2px;
  --link-color: blue;
  --facebook: #3b5998;
  --twitter: #1da1f2;
  --pinterest: #c8232c;
  --instagram: #5851db;
  --max-width: 1000px;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--sans);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

p {
  line-height: 1.6;
}

a {
  color: var(--link-color);
}

@media (max-width: 600px) {
  body {
    font-size: 18px;
  }
}
